@{
    ViewData["Title"] = "Reserva";
}

<div class="parallax"></div>
<div class="container-fluid">
    <div class"peliculas" style="display: flex; justify-content: center;">
        <img id="cartelera" src="./img/images.jpg" />
    </div>
</div>